@import url('reset.css');
@import url('normalize.css');
@import url('common.css');

.first-page{
    background: url('../images/icons/background-main.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: bottom center;
    position: relative;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: none;
    padding: 0 190px 0 270px;
    z-index: 9999999;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: inline-block;
    color: #fefefe;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 30px;
    transition: all 1s;
    margin: 0 20px;
    position: relative;
}

.nav-bar ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(90deg, #C02526, #211715); 
    border-radius: 0;
    transition: all 0.5s ease-in-out;
}
  
.nav-bar ul li a:hover::before {
    width: 100%;
    border-radius: 50%;
}


.nav-bar ul li a:active{
    color:#11101b;
    background: #fefefe;
    border-radius: 5px;
}

.burger-logo{
    display: none;
}



.bg-black{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.34) 49%, rgba(56,56,56,0) 100%);

}

.sub-title h1{
    color: #F37F81;
    font-size: 22px;
    letter-spacing: 0%;
    font-weight: 600;
}

.main-title h2{
    color: #FDF9F9;
    font-size: 52px;
    letter-spacing: 0%;
    font-weight: 700;
    padding-bottom: 20px;
}

.description-1{
    color: #FDF9F9;
    font-size: 18px;
    letter-spacing: 1%;
    font-weight: 300;
}

.m-t-0{
    margin-top: 0;
}

.title-point{
    color: #FF1014;
    padding: 0 10px;
    z-index: 2;
}

.text-page{
    position: absolute;
    z-index: 999;
    margin-top: 0;
    left: 278px;
    top: 263px;
    text-align: center;
}

.buttons{
    position:absolute;
    left: 285px;
    top: 520px;
    display: flex;
}

.btn1{
    width: 140px;
    height: 45px;
    background: #FF1014;
    border-color: none;
    color: #fdf9f9;
    font-size: 16px;
    border-style: none;
    border-radius: 100px;
    margin-right: 20px;
    z-index: 100;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    opacity: 1;
}

.btn1:hover{
    border: 2px solid #FF1014;
    border-radius: 100px;
    background: transparent;
    color: #fdf9f9;
}

.btn2{
    width: 140px;
    height: 45px;
    background: none;
    border: 2px solid #fff;
    /* border-color: #fff; */
    font-size: 16px;
    color: #fdf9f9;
    border-radius: 100px;
    z-index: 100;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.btn2:hover{
    background: #fefefe;
    color: #1F2124;
}

/*second page start*/
.second-page{
    background-color: #F8F8F8;
}
.second-page-container{
    width: 1360px;
    margin: 0 auto;
    padding-bottom: 8.125rem;
}

.second-page-text{
    text-align: center;
    padding-top: 12rem; 
}

.second-page-text-1{
    text-align: center;
    margin-top: 2.5625rem;
}

.second-page-text-1 h3{
    font-size: 28px;
    color: #1F2124;
    font-weight: 700;
}

.second-page-text-1 p{
    font-size: 20px;
    color: #1F2124;
    text-align: center;
    font-weight: 500;
    margin-top: 5rem;
    padding-left: 60px;
    padding-right: 60px;
}
.second-page-text .second-page-title{
    color: #CC5D5E;
    font-size: 24px;
    font-weight: 600;
}

.second-page-text .second-page-subtitle{
    color: #000;
    font-size: 32px;
    margin-top: 24px;
    font-weight: 600;
}

.second-page-subtitle span{
    color: #F33333;
}


.second-page-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.9375rem;
}

.second-page-button button{
    background: none;
    border: 1px solid #000;
    border-radius: 10rem;
    padding: 1.1rem 3rem;
    cursor: pointer;
}

.second-page-button button:hover{
    border: 2px solid #000;
    border-radius: 100px;
    background: #000;
    color: #fff;
    transition: 0.2s;
    font-weight: 700;
}

.content-container{
    margin-top: 3.9375rem;
}

.second-page-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCE7E7;
    border: 1px solid #FCE7E7;
    width: 103px;
    height: 103px;
    margin-inline: 6.8rem;
    margin-top: 1.5rem;
    border-style: none;
    border-radius: 100px;
}

.box{
    border: 1px solid rgba(206, 104, 104, 0.6);
    border-radius: 40px;
    height: 403px;
}

.second-page .d-flex{
    gap: 0 1.5375rem;
}

/*third-page starts*/

.third-page-container{
    background: #FFF6F6;
    width: 100%;
    height: 100vh;
    position: relative;
}

.third-page-submit-page{
    width: 35%;
    height: 65vh;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 30px;
    position: absolute;
    left: 14.2%;
    top: 20%;
}

.title-text h2, .title-text h3{
    text-align: center;
}

.title-text{
    padding-top: 50px;
}

.title-text h2{
    padding-bottom: 5px;
    font-size: 32px;
    font-weight: 600;
}

.title-text h3{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 36px;
}

.name-input p, .phone-input p{
    padding-bottom: 5px;
    font-size: 16px;
    color: #1F2124;
    font-weight: 600;
}

.name-input input, .phone-input input{
    background: #F1F3F5;
    border: 1.5px solid #C9CFD6;
    border-radius: 8px;
}

.car-input p{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #1F2124;
    font-weight: 600;
}

.car-input input{
    background: #F1F3F5;
    border: 1.5px solid #C9CFD6;
    border-radius: 8px;
}

.extra input{
    background: #F1F3F5;
    border: 1.5px solid #C9CFD6;
    border-radius: 8px;
}
.extra p{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #1F2124;
    font-weight: 600;
}

.agreement{
    padding-top: 10px;
}

.agreement label{
    font-size: 14px;
    padding-top: 50px;
}

label span{
    color: #CC5D5E;
    font-weight: 600;
}

.btn-submit button{
    width: 140px;
    height: 50px;
    background: #FF1014;
    border-color: none;
    color: #fdf9f9;
    font-size: 16px;
    font-weight: 600;
    border-style: none;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
}

.btn-submit button:hover{
    border: 2px solid #FF1014;
    border-radius: 100px;
    background: transparent;
    color: #FF1014;
    transition: 0.3s;
}
.extra input{
    background: #F1F3F5;
    border-color: #C9CFD6;
    border-radius: 8px;
}

.title-text span{
    color: #CC5D5E;
}
.two-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
}

.two-inputss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-name-user, .input-phone-user{
    padding: 10px 20px 10px 5px;
}

.input-text-user{
    padding: 10px 275px 10px 7px;
}

.input-extra-user{
    padding: 35px 275px 35px 5px;
}

.agreement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: 10px;
    padding-left: 85px;
}

.btn-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.third-page-image-page{
    display: flex;
    position: relative;
}

.image-1 img{
    position: absolute;
    right: -60%;
    top: 170px;

}

.image-2 img{
    position: absolute;
    width: 90%;
    right: -100%;
    top: 250px;
}

.first-check, .second-check{
    accent-color: #CC5D5E;
}

/*fourth-page starts*/

.fourth-page{
    background-color: #f8f8f8;
}
.fourth-page-container{
    width: 1400px;
    height: 100vh;
    margin: 0 auto;
}

.fourth-page-title{
    text-align: center;
    padding-top: 5rem;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 1rem;
}
.fourth-page-logos button{
    background: #fff;
    border: none;
    outline: none;
    padding: 1rem 1rem 1rem 1rem;
    font-weight: 600;
}
.fourth-page-logos{
    padding-bottom: 2rem;
}
.fourth-page-title span{
    color: #CC5D5E;
}

.first-logo img{
    display: inline-block;
    padding-top: 20px;
}

.fourth-page-logos{
    display: flex;
    gap: 0 1rem;
    justify-content: center;
}

.first-row-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 3rem;
}

.second-row-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 3rem;
}

.first-row-content img, .second-row-content img{
    width: 310px;
    height: 160px;
    padding-left: 60px;
}

.first-row-content button, .second-row-content button{
    background: white;
    border: 2px solid #f8f8f8;
    outline: none;
    padding: 0.5rem 9.5rem 0.5rem 9.5rem;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.car-content-1-text .hihihi, .car-content-2-text .hihihi, .car-content-3-text .hihihi, .car-content-4-text .hihihi, .car-content-5-text .hihihi, .car-content-6-text .hihihi{
    padding-right: 1rem;
    font-weight: 500;
}

.car-content-1-text span, .car-content-2-text span, .car-content-3-text span, .car-content-4-text span, .car-content-5-text span .car-content-6-text span{
    font-weight: 500;
}


.car-content-1-text, .car-content-2-text, .car-content-3-text, .car-content-4-text, .car-content-5-text, .car-content-6-text{
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}
.car-content-1, .car-content-2, .car-content-3, .car-content-4, .car-content-5, .car-content-6{
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    height: 330px;
}

.car-content-4, .car-content-5, .car-content-6{
    margin-top: 1.5rem;
}
/* responsive 1280, 1024, 768, 540, 348*/
@media (max-width: 1280px){
    .first-page{
        background: url('../images/icons/background-main.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-position: bottom center;
        position: relative;
    }

    header{
        padding: 0 100px 0 80px;
    }

    .logo img{
        width: 70%;
        height: 50%;
    }

    .nav-bar ul li a{
        font-size: 1rem;

    }

    .nav-bar ul li:last-child{
        padding-right: 20rem;
    }

    .text-page{
        padding-left: 0.1rem;
    }

    .buttons{
        position: relative;
        padding-left: 0.1rem;
    }

    .sub-title h1{
        font-size: 20px;
    }

    .main-title h2{
        font-size: 48px;
    }

    .description-1{
        font-size: 16px;
    }

    .btn1{
        width: 110px;
        height: 40px;
        font-size: 14px;
        position: absolute;
        bottom: 95%;
    }

    .btn2{
        width: 110px;
        height: 40px;
        font-size: 14px;
        position: absolute;
        bottom: 95%;
        left: 10%;
    }
    
}

@media (max-width: 1024px){
    .first-page{
        background: url('../images/icons/background-main.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-position: bottom center;
        position: relative;
    }

    .burger-logo i{
        display: none;
    }

    .logo img{
        width: 60%;
        height: 40%;
    }

    .nav-bar ul li a{
        font-size: 0.8rem;

    }

    .text-page{
        padding-left: -1.5rem;
    }

    .buttons{
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .sub-title h1{
        font-size: 18px;
    }

    .main-title h2{
        font-size: 40px;
    }

    .description-1{
        font-size: 14px;
    }

    .btn1{
        width: 100px;
        height: 30px;
        font-size: 12px;
        position: absolute;
        bottom: 50px;
        left: -10px;
    }

    .btn2{
        width: 100px;
        height: 30px;
        font-size: 12px;
        position: absolute;
        bottom: 50px;
        left: 90px;
        margin-left: 0.5rem;
    }

    .burger-logo{
        display: block;
        cursor: pointer;
        font-size: 24px;
    }
}

@media (max-width: 768px){

    .first-page{
        background: url('../images/icons/background-main.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-position: bottom center;
    }

    .nav-bar ul li a{
        display: none;
    }

    .logo img{
        width: 80%;
        height: 60%;
    }

    .burger-logo i{
        display: block;
    }

    .burger-logo{
        font-size: 2.5rem;
        margin-left: 10rem;
    }

    .text-page{
        padding-left: 0.1rem;
        position: relative;
        left: -20%;
    }

    .buttons{
        position: relative;
        padding-left: 0.1rem;
        left: 20%;
        top: 43%;
    }

    .sub-title h1{
        font-size: 16px;
    }

    .main-title h2{
        font-size: 36px;
    }

    .description-1{
        font-size: 12px;
    }

    .btn1{
        width: 70px;
        height: 30px;
        font-size: 10px;
        position: absolute;
        left: 0;
    }

    .btn2{
        width: 70px;
        height: 30px;
        font-size: 10px;
        position: absolute;
        left: 9%;
    }
    
}

@media (max-width: 540px){

    .first-page{
        background: url('../images/icons/background-main.png') no-repeat;
        background-size: cover;
        width: 50%;
        height: 100vh;
        background-position: top center;
    }
    header{
        padding: 0 0 0 20px;
    }

    .burger-logo{
        position: relative;
        right: 15%;
        top: -20%;
    }

    .burger-logo i{
        position: absolute;
    }


    .text-page{
        padding-left: 0.1rem;
    }

    .buttons{
        position: relative;
        padding-left: 0.1rem;
    }

    .sub-title h1{
        font-size: 16px;
    }

    .main-title h2{
        font-size: 30px;
    }

    .description-1{
        font-size: 14px;
    }

    .buttons{
        position: relative;
        padding-left: 0.1rem;
        left: 20%;
        top: 43%;
    }


    .btn1{
        width: 70px;
        height: 30px;
        font-size: 10px;
        position: absolute;
        left: -5%;
    }

    .btn2{
        width: 70px;
        height: 30px;
        font-size: 10px;
        position: absolute;
        left: 9%;
    }
    
}

@media (max-width: 348px){

    .first-page{
        background: url('../images/icons/background-main.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-position: bottom center;
    }

    header{
        padding: 0 0 0 20px;
    }

    .burger-logo{
        position: relative;
        right: 28%;
        top: -20%;
    }

    .burger-logo i{
        position: absolute;
    }

    .text-page{
        position: relative;
        left: 2.5%;
    }


    .sub-title h1{
        font-size: 15px;
    }

    .main-title h2{
        font-size: 34px;
    }

    .description-1{
        font-size: 13px;
    }

    .buttons{
        position: relative;
        padding-left: 0.1rem;
        left: 40%;
        top: 37%;
    }

    .btn1{
        width: 60px;
        height: 30px;
        font-size: 10px;
        position: absolute;
        bottom: 45%;
    }

    .btn2{
        width: 60px;
        height: 30px;
        font-size: 10px;
        position: absolute;
        bottom: 95%;
        left: 11%;
    }
    
}
